html, body {
    margin: 0;
    padding: 0;
  }  

h3 {
    font-size: 20px;
    text-align: left; 
}

@media (max-width: 700px){
    h3{
        font-size: 20px;
    }
}


h2  {
    font-family: Poppins;
    color: white;
}

a {
    color: #ED4E8B;
}

figcaption{
    font-size: 12px;
    text-align: center;
    font-weight: 300;
}



#Scroll-Guy{
    width: 30px;
    height: 50px; 
    position: fixed;
    bottom: 0;
    z-index: 999;
}

#Bakery{
    width: 80px;
    height: 90px; 
    position: fixed;
    bottom: 0;
    right:0;
    z-index: 999;
}


#Title-Background{
    background: #F49FB6;
    height: 80vh;  
    overflow: hidden;
    position: relative;
    padding-bottom: 3vh;
}

@media (max-width: 700px){
    #Title-Background{
        background: #F49FB6;
        height: 110vh;  
        overflow: hidden;
        position: relative;
        padding-bottom: 3vh;
    }
}

  
#pattern {
    background-image: url(visual\ storytelling\ butter\ and\ crumble\ background.svg);
    stroke: white;
    background-size: 10%;  
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.30;
    animation: pan 120s linear infinite;
    will-change: background-position;
  }
  
#patternBackground {
    background: radial-gradient(transparent, #F49FB6);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#Title-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 5%;
}

#Title-and-Byline{
    position: relative;
    z-index: 9;
    text-align: center;
    margin-right: -200px;
    order: 1;
}

#Byline{
    font-family: Poppins;
    font-size: 16px;
}

#Title-Image{
    position: relative;
    z-index: 10;
    width: 300px;
    order: 2;
}

#titleimage{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}


@media (max-width: 700px){
    #Title-Section{
        display: block;
    }

    #Title-and-Byline{
        margin-left: 10%;
        margin-right: 10%;
    }

    #Title-Image{
        margin-left: 10%;
        margin-right: 10%;
        width: 90%;
    }
    #titleimage{
        width:100%;
    }

    #Title-and-Byline{
        margin-left: 10%;
        margin-right: 10%;
        width: 90%;
    }

    #ArticleName{
        width:100%;
    }
}

#First-Text-Section{
    background: #FAF8F0;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#Story{
    display: flex;
    justify-content: center;
}

.story-text{
    font-family: Poppins;
    width: 40vw;
    font-size: 15px;
    text-align: justify; 
}

@media (max-width: 700px){
    .story-text{
        width: 80vw;
    }
}

#B-roll{
    height: 120vh;
}

#Origin{
    background: #F49FB6;  
    overflow: hidden;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.articleimage{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border-radius: 16px;
}

#LineImage{
    width: 100%;
    overflow: hidsden;
}

#tiktoks{
    overflow: hidden;
    display: flex;
    background: #FAF8F0;
    justify-content: center; /* This centers content HORIZONTALLY in a flexbox, which is what you want */
    align-items: center; /* You can delete this line. It centers content VERTICALLY. */
}

/* On smaller screens, make the video 900px wide, so it overflows */
@media (max-width: 899px) {
    #tiktoks video {
        width: 900px;
    }
}

/* On bigger screens, make the video full-width */
@media (min-width: 900px) {
    #tiktoks video {
        width: 100%;
    }
}

#Virality{
    background: #FAF8F0;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#peopleorderingvideo{
    overflow: hidden;
    display: flex;
    background: #FAF8F0;
    justify-content: center; /* This centers content HORIZONTALLY in a flexbox, which is what you want */
    align-items: center; /* You can delete this line. It centers content VERTICALLY. */
}

/* On smaller screens, make the video 900px wide, so it overflows */
@media (max-width: 899px) {
    #peopleorderingvideo video {
        width: 900px;
    }
}

/* On bigger screens, make the video full-width */
@media (min-width: 900px) {
    #peopleorderingvideo video {
        width: 100%;
    }
}

#Line{
    background: #FAF8F0;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#Trendiness{
    background: #F49FB6;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#Closing{
    background: #FAF8F0;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#GameName{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

@media (max-width: 700px) {
    #GameName {
        margin-left: 5%;
        margin-right: 10%;
        width: 90%;
    }
}

#Game { 
    width: 600px; 
    height: 375px;
    border: 20px solid #ED4E8B;
    background-image: url(game-background.png);
    background-color: #0CCE6B;
    background-size: 100% 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    outline: 2px solid white;
    outline-offset: -20px;
}

@media (max-width: 700px) {
    #Game {
        width: 360px; 
        height: 225px;
        border: 12px solid #ED4E8B;
        background-image: url(game-background.png);
        background-color: #0CCE6B;
        background-size: 100% 100%;
        border-radius: 6px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        padding: 12px; 
        text-align: center;
        padding-top: 30px;
        padding-bottom: 6px;
        outline: 2px solid white;
        outline-offset: -12px;
    }
}

#Inside {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container { 
    position: relative; 
    display: inline-block; 
}

#Menu {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid black;
    background-image: linear-gradient(#ffdff2, #efb1d6);
    
}

.croissant { 
    width: 300px; 
    height: 300px; 
    background: url('croissant.png') no-repeat center/cover; 
}

@media (max-width: 700px) {
    #Menu {
        width: 180px;
        height: 180px;
        border-radius: 12px;
        border: 2px solid black;
        background-image: linear-gradient(#ffdff2, #efb1d6); 
    }
    .croissant { 
        width: 180px; 
        height: 180px; 
        background: url('croissant.png') no-repeat center/cover; 
    }
}

.flavor, .pizazz { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 300px; 
    height: 300px; 
    display: none; 
}


button { 
    margin: 10px;
    padding: 0px;
    cursor: pointer; 
    border: none;
    
}

.gamebutton{
    margin-bottom: -40px;
    margin-top: -16px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .flavor, .pizazz { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 180px; 
        height: 180px; 
        display: none; 
    }
    
    
    button { 
        margin: 6px;
        padding: 0px;
        cursor: pointer; 
        border: none;
        
    }
    
    .gamebutton{
        margin-bottom: -24px;
        margin-top: -9px;
        cursor: pointer;
    }

    #NameDisplay{
        font-size: .6em;
    }
}



.gamebutton:active {
    transform: scale(0.8);
}

#pizazz-options { 
    display: none;
}

/*width*/
::-webkit-scrollbar {
width:auto;
}
/*track*/
::-webkit-scrollbar-track {
background:rgb(244, 159, 182);
border-width:2px;
border-style:solid;
border-color:black;
}
/*thumb*/
::-webkit-scrollbar-thumb {
background:rgb(250, 248, 240);
border-width:2px;
border-style:solid;
border-color:black;
border-radius:4px;
}
/*thumb hover*/
::-webkit-scrollbar-thumb:hover {
background:rgba(230, 226, 220, 1);
}
/*thumb pressed*/
::-webkit-scrollbar-thumb:active {
background:rgba(193, 190, 185, 1);
}